In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in raw SESNA items as a dataframe
df = pd.read_pickle('../data/raw/SESNA_INPUTS_JakeJune20.pkl')
df

,ID,ra,dec,VALID_FNU_J,VALID_FNU_H,VALID_FNU_KS,VALID_FNU_3_6,VALID_FNU_4_5,VALID_FNU_5_8,VALID_FNU_8_0,...,FNU_3_6,SIGMA_FNU_3_6,FNU_4_5,SIGMA_FNU_4_5,FNU_5_8,SIGMA_FNU_5_8,FNU_8_0,SIGMA_FNU_8_0,FNU_24,SIGMA_FNU_24
0,J033021.04+582049.3,52.587681,58.347026,1,1,1,3,3,3,3,...,0.118,1.000,0.060,1.0,0.330,1.000,0.422,1.0,1.183,0.095
1,J032839.47+582051.7,52.164451,58.347690,1,1,1,3,3,3,3,...,0.133,1.000,0.097,1.0,0.226,1.000,0.311,1.0,1.355,0.141
2,J032940.82+582053.3,52.420074,58.348142,1,1,1,3,3,3,3,...,0.115,1.000,0.138,1.0,0.318,1.000,0.415,1.0,2.079,0.083
3,J032539.46+582059.2,51.414429,58.349764,1,1,1,3,3,3,3,...,0.071,1.000,0.220,1.0,0.349,1.000,0.379,1.0,13.738,0.297
4,J032908.84+582101.5,52.286843,58.350428,1,1,1,3,3,3,3,...,0.218,1.000,0.051,1.0,0.385,1.000,0.292,1.0,0.537,0.089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5645585,J222752.84+642612.9,336.970156,64.436914,1,1,1,1,3,1,3,...,14.998,0.202,0.083,1.0,6.823,0.101,1.140,1.0,1.381,1.000
5645586,J222759.59+642615.4,336.998298,64.437601,1,1,1,1,3,3,3,...,0.792,0.017,0.143,1.0,0.483,1.000,1.183,1.0,8.310,1.000
5645587,J222755.73+642636.7,336.982188,64.443518,1,1,3,1,3,3,3,...,0.178,0.007,0.129,1.0,0.211,1.000,1.096,1.0,10.234,1.000
5645588,J222753.71+642650.8,336.973803,64.447441,1,1,1,1,3,3,3,...,0.159,0.008,0.143,1.0,0.331,1.000,1.183,1.0,10.234,1.000
5645589,J222717.73+642652.7,336.823862,64.447959,1,1,1,3,3,3,3,...,0.166,1.000,0.134,1.0,0.215,1.000,0.442,1.0,0.878,0.156

In [3]:
# Percentage of fully valid fluxes in the H band (where we want to normalize at)
np.sum(df['VALID_FNU_H'] == 1) / df.shape[0]

0.7316494821621832

In [4]:
%cat ../data/raw/data_ngc2264_20.txt

20                             100.20250   9.59936 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 3 3   0.000e+00   0.000e+00   0.000e+00   0.000e+00   1.505e-02   1.505e-03   1.039e-01   1.039e-02   4.707e-01   4.707e-02   9.703e+00   9.703e-01   3.341e+01   3.341e+00   7.543e+01   7.543e+00   1.604e+02   1.604e+01   2.194e+02   2.194e+01   3.057e+02   3.057e+01   4.060e+02   4.060e+01   5.055e+02   5.055e+01   6.670e+02   6.670e+01   9.523e+02   9.523e+01   1.172e+03   1.172e+02   1.239e+03   1.239e+02   1.331e+03   1.331e+02   1.290e+03   1.290e+02   0.000e+00   0.000e+00   3.294e+03   1.000e+00   2.900e+02   1.000e+00

In [3]:
def make_source_ascii(table):
    '''
    Inputs:
        table: A dataframe holding the information of a source or multiple sources, stacked in rows.
    Outputs:
        src: A string containing all of the information of the dataframe formatted as in ascii, split by line, appropriate for sedfitter fitting.
    '''
    src = ''
    for i in range(len(table)):
        src += " ".join(str(thingbob) for thingbob in table.iloc[i].to_list()) + '\n'
    return src

In [55]:
source_ascii = make_source_ascii(df)
print(source_ascii[0:20])
print(source_ascii[100:120])
print(source_ascii[200:220])

J033021.04+582049.3
 1.0 0.06 1.0 0.33 1
0.345 0.043 0.489 0.

In [56]:
print(len(source_ascii))

816111388

In [57]:
# Save that ASCII formatted version of SESNA as sesna_sources_formatted
with open('../data/raw/sesna_sources_formatted','w') as savefile:
    savefile.write(source_ascii)

In [2]:
df2 = pd.read_pickle('../data/raw/SESNA_INPUTS_JakeJune20.pkl')
df2.iloc[:,11:]

,FNU_J,SIGMA_FNU_J,FNU_H,SIGMA_FNU_H,FNU_KS,SIGMA_FNU_KS,FNU_3_6,SIGMA_FNU_3_6,FNU_4_5,SIGMA_FNU_4_5,FNU_5_8,SIGMA_FNU_5_8,FNU_8_0,SIGMA_FNU_8_0,FNU_24,SIGMA_FNU_24
0,16.355,0.331,40.181,0.629,46.046,0.848,0.118,1.000,0.060,1.0,0.330,1.000,0.422,1.0,1.183,0.095
1,0.345,0.043,0.489,0.058,0.617,0.060,0.133,1.000,0.097,1.0,0.226,1.000,0.311,1.0,1.355,0.141
2,0.284,0.043,0.689,0.069,0.911,0.071,0.115,1.000,0.138,1.0,0.318,1.000,0.415,1.0,2.079,0.083
3,307.366,5.662,687.426,13.296,743.347,11.639,0.071,1.000,0.220,1.0,0.349,1.000,0.379,1.0,13.738,0.297
4,75.172,1.385,60.426,0.946,42.227,0.778,0.218,1.000,0.051,1.0,0.385,1.000,0.292,1.0,0.537,0.089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5645585,27.699,0.740,34.900,0.900,28.261,0.599,14.998,0.202,0.083,1.0,6.823,0.101,1.140,1.0,1.381,1.000
5645586,1.654,0.198,1.594,0.163,1.213,0.142,0.792,0.017,0.143,1.0,0.483,1.000,1.183,1.0,8.310,1.000
5645587,0.467,0.053,0.425,0.063,1.270,1.000,0.178,0.007,0.129,1.0,0.211,1.000,1.096,1.0,10.234,1.000
5645588,0.566,0.048,0.417,0.063,0.361,0.075,0.159,0.008,0.143,1.0,0.331,1.000,1.183,1.0,10.234,1.000
5645589,0.402,0.046,0.945,0.064,1.117,0.087,0.166,1.000,0.134,1.0,0.215,1.000,0.442,1.0,0.878,0.156

In [4]:
df2.columns

Index(['ID', 'ra', 'dec', 'VALID_FNU_J', 'VALID_FNU_H', 'VALID_FNU_KS',
       'VALID_FNU_3_6', 'VALID_FNU_4_5', 'VALID_FNU_5_8', 'VALID_FNU_8_0',
       'VALID_FNU_24', 'FNU_J', 'SIGMA_FNU_J', 'FNU_H', 'SIGMA_FNU_H',
       'FNU_KS', 'SIGMA_FNU_KS', 'FNU_3_6', 'SIGMA_FNU_3_6', 'FNU_4_5',
       'SIGMA_FNU_4_5', 'FNU_5_8', 'SIGMA_FNU_5_8', 'FNU_8_0', 'SIGMA_FNU_8_0',
       'FNU_24', 'SIGMA_FNU_24'],
      dtype='object')

In [5]:
# Normalization of SESNA on H band -- use deep copies to not end up changing the normalization factor each pass
norm_factor = df2['FNU_H'].copy()
df_norm = df2.copy()
# Normalize Fnu at each waveband
df_norm.iloc[:,11:26:2] = df_norm.iloc[:,11:26:2].div(norm_factor,axis=0)

# Because flux is a random variable, we need to multiply the error by the same factor as the flux
df_norm.iloc[:,12:27:2] = df_norm.iloc[:,12:27:2].div(norm_factor,axis=0)

df_norm

with open('../data/raw/SESNA_normalized','w') as output:
    output.write(make_source_ascii(df_norm))

In [9]:
df_norm.iloc[:,11:26]

,FNU_J,SIGMA_FNU_J,FNU_H,SIGMA_FNU_H,FNU_KS,SIGMA_FNU_KS,FNU_3_6,SIGMA_FNU_3_6,FNU_4_5,SIGMA_FNU_4_5,FNU_5_8,SIGMA_FNU_5_8,FNU_8_0,SIGMA_FNU_8_0,FNU_24
0,0.407033,0.008238,1.0,0.015654,1.145965,0.021105,0.002937,0.024887,0.001493,0.024887,0.008213,0.024887,0.010502,0.024887,0.029442
1,0.705521,0.087935,1.0,0.118609,1.261759,0.122699,0.271984,2.044990,0.198364,2.044990,0.462168,2.044990,0.635992,2.044990,2.770961
2,0.412192,0.062409,1.0,0.100145,1.322206,0.103048,0.166909,1.451379,0.200290,1.451379,0.461538,1.451379,0.602322,1.451379,3.017417
3,0.447126,0.008237,1.0,0.019342,1.081348,0.016931,0.000103,0.001455,0.000320,0.001455,0.000508,0.001455,0.000551,0.001455,0.019985
4,1.244034,0.022921,1.0,0.015656,0.698822,0.012875,0.003608,0.016549,0.000844,0.016549,0.006371,0.016549,0.004832,0.016549,0.008887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5645585,0.793668,0.021203,1.0,0.025788,0.809771,0.017163,0.429742,0.005788,0.002378,0.028653,0.195501,0.002894,0.032665,0.028653,0.039570
5645586,1.037641,0.124216,1.0,0.102258,0.760979,0.089084,0.496863,0.010665,0.089711,0.627353,0.303011,0.627353,0.742158,0.627353,5.213300
5645587,1.098824,0.124706,1.0,0.148235,2.988235,2.352941,0.418824,0.016471,0.303529,2.352941,0.496471,2.352941,2.578824,2.352941,24.080000
5645588,1.357314,0.115108,1.0,0.151079,0.865707,0.179856,0.381295,0.019185,0.342926,2.398082,0.793765,2.398082,2.836930,2.398082,24.541966
5645589,0.425397,0.048677,1.0,0.067725,1.182011,0.092063,0.175661,1.058201,0.141799,1.058201,0.227513,1.058201,0.467725,1.058201,0.929101

In [8]:
norm_factor.to_csv('../data/raw/norm_factor_SESNA')

In [21]:
df_norm[df_norm['ID'] == 'J032637.84+582215.7'].iloc[:,3:26]

,VALID_FNU_J,VALID_FNU_H,VALID_FNU_KS,VALID_FNU_3_6,VALID_FNU_4_5,VALID_FNU_5_8,VALID_FNU_8_0,VALID_FNU_24,FNU_J,SIGMA_FNU_J,...,SIGMA_FNU_KS,FNU_3_6,SIGMA_FNU_3_6,FNU_4_5,SIGMA_FNU_4_5,FNU_5_8,SIGMA_FNU_5_8,FNU_8_0,SIGMA_FNU_8_0,FNU_24
38,1,1,1,1,3,3,3,3,0.558074,0.058074,...,0.089235,0.389518,0.014164,0.348442,1.416431,0.498584,1.416431,0.419263,1.416431,1.871105